#main-content {
  padding-bottom: 5rem;
  position: relative;
  h3 {
    text-align: center;
    padding-top: 3rem;
  }
  .total-score {
    position: absolute;
    font-size: 20pt;
    right: 10%;
    &.top {
      top: 5rem;
    }
    &.bottom {
      bottom: 1rem;
    }
  }
  .question {
    position: relative;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 2rem;
    height: auto;
    width: 80%;
    margin: 2rem auto 0 auto;
    font-size: 14pt;
    .question-number {
      position: absolute;
    }
    .question-text {
      width: 100%;
      padding-left: 30px;
    }
    img {
      cursor: zoom-in;
      position: absolute;
      right: 15%;
      width: 400px;
    }
    .score {
      position: absolute;
      right: 5%;
      bottom: 1rem;
      font-weight: bold;
      color: black;
      background-color: #B1CA61;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      text-align: center;
      line-height: 4rem;
    }
  }
  .answers {
    padding-left: 5%;
    font-size: 12pt;
    .answer{
      cursor: pointer;
      border: 1px solid black;
      border-radius: 10px;
      width: 35%;
      padding: 0.5rem;
      background-color: white;
      &.correct {
        background-color: #B1CA61;
        &:after {
          content: "✓";
          padding-left: 1rem;
        }
      }
      &.incorrect {
        background-color: #E4A757;
        &:after {
          content: "X";
          padding-left: 1rem;
        }
      }
      .answer-letter {
        position: absolute;
      }
      .answer-text {
        padding-left: 20px;
      }
    }
  }
}

@media (max-width: 1125px) {
  #main-content {
    .question {
      img {
        position: relative;
        padding: 2rem;
        right: 0;
      }
    }
    .answers {
      .answer {
        width: 95%;
      }
    }
  }
}

@media (max-width: 640px) {
  #main-content {
    h3 {
      padding-bottom: 2rem;
    }
    .total-score {
      &.top {
        top: 6rem;
      }
    }
  }
}